body{
    background-color: #252525;
    color: white;
    margin: 0;
}
.profile{
    display: inline-block;
    width: 100%;
}
.profile-pic
{  
   
    width: 200px;
    display: inline-block;
    vertical-align: top;

}
.profile-pic img{
    display: block;
    width: 100%;
}
.profile-details{
    display: inline-block;
    width: calc(100% - 220px);
    margin: 0;
}
