body{
    margin: 0;
    padding: 0;
}
.button{
    display: inline-block;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 16px;

}
.button::before{
    /* content: "🔥"; */
    content: "";
    background-color: red;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%
    
}
ul li{
    list-style: none;
}

.list li::before{
    content: "🔥";
    
} 
.button:hover{
    background-color: orange;
}
